* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px #8e9aaa;
	border-radius: 1px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
  height: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 6px;
	-webkit-box-shadow: inset 0 0 6px #8e9aaa;
	background-color: #555;
}

.app-container {
  display: flex; 
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(192,218,223,1) 100%);
}

.app-heading {
  margin: 30px; 
  color: #F5F5F5;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.app-nfts {
  border: none;
  padding: 20px;
  border-radius: 5px;
  width: 80%; 
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(197,197,212,1) 0%, rgba(97,104,106,1) 100%);
}