.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
  }
  
  .loading-text {
    font-size: 18px;
    font-weight: bold;
    color: gray;
  }

  .error-text, .success-text, .almost-text, .minting-text, .patience-text, .wallet-text {
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .almost-text, .minting-text, .patience-text, .wallet-text {
    background-color: white;
  }

  .error-text {
    background-color: rgb(238, 105, 105);
  }

  .success-text {
    background-color: rgb(47, 161, 47);
    width: 40vw;
  }

  .success-text a {
    border: none;
    border-radius: 5px;
    margin: 5px;
    text-decoration: none;
    color: #000;
    background-color: aliceblue;
    padding: 5px;
    margin-top: 10px;
  }

  .success-text button, .error-text button {
    border: none;
    border-radius: 5px;
    padding: 10px;
    height: 3.5vh;
    cursor: pointer;
    margin: 5px;
  }
  